.products {

  &__title-container {
    align-items: flex-end;
  }

  &__title {
    font-size: 24px;
  }

  &__description {

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__icon {
    width: calc(100% / 12 * 3 - 40px);
    min-width: 85px;
    margin: 0 10px 45px;
    cursor: pointer;

    @include smallDesktop {
      display: flex;
      width: calc(100% / 12 * 4 - 40px);

      &:nth-child(3n+1) {
        justify-content: flex-start;
      }

      &:nth-child(3n+2) {
        justify-content: center;
      }

      &:nth-child(3n) {
        justify-content: flex-end;
      }
    }

    img {
      width: 60px;
    }

    &_3 {

      &:nth-of-type(3n) {
        width: calc(100% / 12 * 6 - 40px);

        @include smallDesktop {
          width: calc(100% / 12 * 4 - 40px);
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
  }

  &__items {

    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 40%;
    margin-right: 10%;
    margin-bottom: 30px;

    @include smallDesktop {
      width: 45%;
      margin-right: 5%;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
      margin-left: 10%;

      @include smallDesktop {
        margin-left: 5%;
      }
    }
  }
}
