.products-item {
  cursor: pointer;

  @include tablet {

    img {
      width: 72px;
      margin-bottom: 10px;

      @include mobile {
        width: 48px;
        margin-bottom: 4px;
      }
    }
  }

  &__name {
    display: block;
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: $black;
    transition: color $base-animation;

    @include mobile {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 6px;
    }
  }

  &__tags {
    display: flex;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__tag {

    @include mobile {
      margin-bottom: 5px;
    }
  }

  &_active {

    .products-item__name {
      color: $orange;
    }
  }
}
