.tag {
  display: block;
  min-width: 54px;
  margin-right: 16px;
  padding: 4px 26px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $grey-dark;
  background-color: $grey;
  border-radius: 4px;

  @include smallDesktop {
    margin-right: 10px;
    padding: 6px 12px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
