.hero {
  margin-top: 96px;

  @include mobile {
    margin-top: 65px;
  }

  @include wideTablet {

    .inner-row {
      flex-direction: column;
    }

    .inner-col {
      width: 100%;

      &:first-of-type {
        order: 2;
      }

      &:last-of-type {
        margin-bottom: 64px;
        order: 1;
      }
    }
  }

  &__image {
    width: 100%;
    max-width: 485px;

    @include wideTablet {
      display: block;
      width: 100%;
      margin: auto;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 24px;

    @include mobile {
      margin-bottom: 16px;
      font-size: 42px;
      line-height: 48px;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 48px;
    font-size: 28px;
    line-height: 40px;

    @include smallDesktop {
      margin-bottom: 24px;
    }

    @include mobile {
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__button {
    width: 174px;
    margin-bottom: 24px;

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-size: 15px;
  }
}