.header {
  position: fixed;
  width: 100vw;
  height: 75px;
  border-bottom: 1px solid #eeeeee;

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 1200px;
  }

  &__logo {

  }
}