.header {
  position: fixed;
  top: -1px;
  width: 100vw;
  height: 71px;
  background-color: $white;
  border-bottom: 1px solid $grey-light;
  z-index: 2;

  @include mobile {
    height: 47px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    font-size: 20px;
    font-weight: bold;
    color: $black;

    @include mobile {
      display: none;
    }
  }

  &__menu-button {
    position: relative;
    display: none;
    width: 50%;
    height: 100%;
    padding: 10px 0;
    font-size: 15px;
    text-align: left;
    color: $black;
    background-color: white;
    cursor: pointer;
    z-index: 2;

    &:after {
      position: relative;
      top: 7px;
      display: inline-block;
      content: '';
      margin-left: 14px;
      border: 8px solid transparent;
      border-top: 8px solid $black;
      transition: top $base-animation, transform $base-animation;

      @include mobile {
        top: 8px;
      }
    }

    @include mobile {
      display: block;
    }

    &_active {

      &::after {
        top: 0;
        transform: rotate(180deg);
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    @include mobile {
      position: absolute;
      top: 46px;
      left: 0;
      display: none;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: fit-content;
      padding: 20px 15px 25px 15px;
      background-color: white;
      border: 1px solid $grey-light;
      z-index: 1;
      transition: top $base-animation;
    }

    &_opened {
      display: flex;
    }
  }

  &__link {
    height: fit-content;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    @include mobile {
      font-size: 16px;
      line-height: 18px;
      margin-right: 0;
    }

    .button {

      @include mobile {
        padding: 6px 20px;
      }
    }
  }
}