//media
$smallDesktop: 1024px;
$tablet: 768px;
$mobile: 550px;

//colors
$black: #27282c;
$white: #ffffff;
$grey-dark: rgba(39,40,44,.7);
$grey: #f4f4f4;
$grey-light: rgba(39,40,44,.2);
$orange: #f76707;
$orange-light: rgba(247,103,7,0.8);

//animation
$base-animation: 0.2s ease-in-out;
