//media
$smallDesktop: 1024px;
$wideTablet: 850px;
$tablet: 768px;
$mobile: 550px;

//colors
$black: #27282c;
$black-bg: #323236;
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.2);
$white-med: rgba(255, 255, 255, 0.6);
$grey: #f4f4f4;
$grey-light: rgba(39, 40, 44, 0.2);
$grey-med: rgba(39, 40, 44, 0.4);
$grey-dark: rgba(39, 40, 44, 0.7);
$orange: #f76707;
$orange-light: rgba(247, 103, 7, 0.8);

//animation
$base-animation: 0.2s ease-in-out;
